@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Professor"]</p>

<h2> @ViewData["Email"]</h2>

<address>
    <strong>
        More information <a href="https://devsuperior.com.br/evento-sds">Click Here!</a>
    </strong>
</address>
